.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 2px;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fbf8f8;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  border-radius: 20px;
  height: 6vh;
  margin-right: 10px;
}

nav {
  margin-left: 2vw;
}

nav a {
  margin-right: 50px;
  text-decoration: none;
  font-weight: 20px;
  color: #f9f7f7;
}

.search {
  position: relative;
  margin-left: auto;
  margin-right: 2vw;
}

.search input[type="text"] {
  width: 20vw;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search input[type="text"]:focus {
  border-color: #4a90e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search input[type="text"]::placeholder {
  color: #999;
  font-style: italic;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .logo {
    font-size: 1.5rem;

  }
  .logo img{
    height: 4vh;

  }
  nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    padding: 20px;
  }

  nav.open {
    display: flex;
  }

  nav a {
    margin: 10px 0;
  }

  .search input[type="text"] {
    width: 35vw;
  }
}