/* Base styles */
.heatmap-container {
  display: flex;
  margin-top: 10vh;
}

.sidebars {
  padding: 20px;
  background-color: #ffffff;
}

.heatmap {
  flex-grow: 1;
}

select {
  width: 100%;
  padding: 5px;
}

h3 {
  color: #333;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

#container {
  height: 600px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

rect {
  stroke: #ffffff;
}

text {
  pointer-events: none;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .heatmap-container {
    flex-direction: column;
    margin-top: 0;
  }

  .sidebars {
    order: -1; /* This moves the sidebar to the top */
    padding: 10px;
    margin-top: 4vh;
  }

  .heatmap {
    width: 100%;
  }

  #container {
    height: 400px; /* Reduce height for mobile */
  }

  select {
    width: 60%;
  }
}