body {
    font-family: 'Comic Sans MS';
    margin: 0;
    padding: 0;
}

.user {
    font-weight: bold;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: left;
}
footer p{
    font-family: 'Comic Sans MS';
    margin-left:3vw;
    color: white;
}
